{% extends "header.html" %}
{% block content %}
{% load crispy_forms_tags %}

{% if error_message %}
<p><strong>{{error_message}}</strong></p>
{% endif %}

<div class="container py-5">
  <div class="row mb-5">
    <div class="col-md-8 col-xl-6 text-center mx-auto">
      <h2 class="fw-bold">{{post.title}}</h2>
      <p class="text-secondary">By {{post.author}} at {{post.date}}</p>
    </div>
  </div>
  <div class="row mx-auto text-center" style="max-width: 900px">
    <div class="col">
      <p>{{post.content}}</p>
    </div>
  </div>
</div>
<div class="container">
    {% for comment in post.comment_set.all %}
      <div class="row">
        <div class="col" style="text-align: center">
          <div class="card-body d-flex flex-column align-items-center">
          <p>{{comment.author}} at {{comment.date}} says:</p>
          <p>{{comment.comment_text}}</p>
          </div>
        </div>
      </div>
    {% endfor %}
</div>
<div class="container">
  <div class="row">
    <div class="col" style="text-align: center">
      {% if user.is_authenticated %}
      <form
        class="container d-flex flex-column justify-content-center align-items-center"
        action=""
        method="POST"
      >
        {% csrf_token %} 
        {{ form|crispy }}

        <input
          class="btn btn-primary text-center border rounded border-primary"
          style="
            background: var(--bs-primary);
            color: #ffffff;
            font-size: 16px;
            font-weight: bold;
            margin: 8px;
          "
          role="button"
          type="submit"
          value="Post Comment"
        />
      </form>
      {% else %}
      <a
        class="btn btn-primary text-center border rounded border-primary"
        style="
          background: var(--bs-primary);
          color: #ffffff;
          font-size: 16px;
          font-weight: bold;
          margin: 4px;
        "
        href="/login"
        role="button"
      >
        Login to Post a Comment
      </a>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
